$ignoreContent = @'
# Block the entire terraform tracking directory and all its subfolders
.terraform/
terraform/.terraform/
**/.terraform/

# Block the lock files and providers
.terraform.lock.hcl
**/.terraform.lock.hcl
*.exe

# Block state logs
*.tfstate
*.tfstate.*

# Block runtime environment variables
*.tfvars
*.tfvars.json
'@

[System.IO.File]::WriteAllText("D:\DevOps-Project-01\.gitignore", $ignoreContent)